#check_all_label {
  display: block;
  width: max-content;
  padding: 20px 0;
}

#folders_list {
  display: inline-flex;
  flex-direction: column;
}

label {  
  margin: 10px 0;
}

label:hover {
  cursor: pointer;
}

img {
  padding: 0 5px;
  height: 17px;
}

input[type='checkbox'] { 
  visibility: hidden; 
}



