#date_range_container {
  display: flex;
  margin: 0 0 30px 0;
}

form#end_date_range {
  margin-left: 10%;
}

#check_all_label {
  display: block;
  width: max-content;
  padding: 10px;
  border: 2px solid lightgray;
  color: white;
  font-size: large;
  background-color: rgb(2, 168, 2);
}

#folders_list {
  display: inline-flex;
  flex-direction: column;
}

label {  
  margin: 10px 0;
}

label:hover {
  cursor: pointer;
}

img {
  padding: 0 5px;
  height: 17px;
}

input[type='checkbox'] {
  display: none;
  visibility: hidden; 
}



