@font-face {
  font-family: amiga2;
  src: url(REs/Fonts/amiga4everpro.ttf);
}

* {
  font-family: amiga2;
  font-weight: 300;
}

body {
  background-color: #1F54AC;
  color: white;
}

h1 {
  color: #ffd42aff;
}

#date_range_container {
  display: flex;
  margin: 30px 0 40px 0;
}

#date_range_container button {
  background-color: #AAAAAA;
  vertical-align: middle;
} 

#date_range_container button:hover {
  cursor: pointer;
} 

select {
  -webkit-appearance: none;
  border: none;
  padding: 3px;
  font-size: large;
}

select:hover {
  cursor: pointer;
}

form#end_date_range {
  margin-left: 10%;
}

#check_all_label {
  display: block;
  width: max-content;
  padding: 10px;
  border: 2px solid lightgray;
  color: white;
  font-size: large;
  background-color: rgb(2, 168, 2);
}

#folders_list {
  display: inline-flex;
  flex-direction: column;
}

label {  
  margin: 10px 0;
}

label:hover {
  cursor: pointer;
}

img {
  padding: 0 5px;
  height: 25px;
}

input[type='checkbox'] {
  display: none;
  visibility: hidden; 
}

body::-webkit-scrollbar {
  width: 2em;
}
 
body::-webkit-scrollbar-track {
  background-color: black;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

@media only screen and (max-width: 821px) {
  #date_range_container button {
    margin-top: 7px;
  } 
}